/* TO DO: CHECKBOX
USER ABILITY TO CHECK AND UNCHECK
LI */
label input {
    display: none; /* Hide the default checkbox */
}

/* Style the artificial checkbox */
label span {
    height: 10px;
    width: 10px;
    border: 1px solid grey;
    display: inline-block;
    position: relative;
}

/* Style its checked state...with a ticked icon */
[type='checkbox']:checked + span:before {
    content: '\2714';
    position: absolute;
    top: -5px;
    left: 0;
}
