.Layout {
  --font-size: 18px;
  box-sizing: border-box;
}

.Page {
  padding: 1.5em;
  box-sizing: border-box;
}

.Content {
  font-size: var(--font-size);
}

.NotFoundPage {
  text-align: center;
}
