/* Page Layout */

.Layout {
    --font-size: 20px;
    box-sizing: border-box;
}

.Page {
    padding: 1.5em;
    box-sizing: border-box;
}

.Content {
    font-size: var(--font-size);
}

.Header {
    padding: 1.5em;
    box-sizing: border-box;
}

.Section {
    margin: 1em 0;
}

.Section:first-child {
    margin-top: 0;
}

.Section:last-child {
    margin-bottom: 0;
}

/* Not Found Page */

.NotFoundPage {
    text-align: center;
}

/* Floating Buttons */

.FloatingButton {
    font-size: var(--font-size);
    position: fixed;
    z-index: 2;
    margin: 1em;
    height: var(--icon-height);
}

.FloatingButton .IconBefore {
    font-size: var(--icon-height);
}

.FloatingButtonTooltip {
    display: none;
    height: var(--icon-height);
    vertical-align: middle;
}

.FloatingButton:hover .FloatingButtonTooltip {
    display: inline-block;
}

.FloatingButton path {
    opacity: 0.35;
}

.FloatingButton:hover path {
    opacity: 1;
}

/* Specific Floating Buttons */

.MockLoginButton {
    --icon-height: 36px;
    bottom: 0;
    left: 0;
}

.BackToChatsButton {
    --icon-height: 36px;
    top: 0;
    left: 0;
}
