.Button {
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    padding: 0.75em 1em;
    margin: 0.5em 0;
    border-radius: 0.25em;
    border-width: 1px;
    border-style: solid;
}

.Button:hover {
    cursor: pointer;
}

.ButtonRow .Button {
    display: inline-block;
    margin: 0.5em;
}

.ButtonRow .Button:first-child {
    margin-left: 0;
}

.ButtonRow .Button:last-child {
    margin-right: 0;
}

.Button .IconBefore,
.Button .IconAfter,
.Button span {
    vertical-align: top;
    margin-top: 0;
}

.Button.Primary {
    background: var(--color-theme-accent);
    border-color: transparent;
    color: var(--color-theme-contrast);
}

.Button.Primary:hover {
    background: transparent;
    border-color: var(--color-main);
    color: var(--color-main);
}

.Button {
    background: transparent;
    border-color: var(--color-text);
    color: var(--color-text);
}

.Button:hover {
    background: var(--color-text);
    border-color: var(--color-text);
    color: var(--color-theme-contrast);
}
