.UserTile {
    --image-size: 35px;
    --margin-size: 5px;
    font-size: 0;
    display: inline-block;
}

.UserRow .UserTile {
    margin-top: var(--margin-size);
    margin-right: var(--margin-size);
    margin-left: 0;
    margin-bottom: 0;
}

.UserRow .UserTile:last-child {
    margin-right: 0;
}

.UserRowCentered .UserTile {
    margin: var(--margin-size);
}

.UserTile .ProfileImage,
.UserTile .DisplayName {
    display: inline-block;
    vertical-align: middle;
}

.UserTile .ProfileImage {
    width: var(--image-size);
    border-radius: 50%;
    overflow: hidden;
}

.UserTile .ProfileImage .Image {
    width: 100%;
}

.UserTile .DisplayName {
    font-size: var(--text-size);
    padding: 0.5em;
}

.UserDisc {
    display: inline-block;
    width: 45px;
    border-radius: 50%;
    overflow: hidden;
    font-size: 0;
    margin: 5px;
}

.UserDisc .Image {
    width: 100%;
}
