.HomePage {
    text-align: center;
    background: var(--color-theme-dark);
    color: var(--color-theme-accent);
}

.HomePage .Button.Primary {
    background: var(--color-theme-accent);
    color: var(--color-theme-dark);
}
