/* Page Layout */

.Layout {
    box-sizing: border-box;
    --text-size: 20px;
    font-size: var(--text-size);
}

.Page {
    padding: 1.5em;
    box-sizing: border-box;
}

.Header {
    padding: 1.5em;
    box-sizing: border-box;
}

.Section {
    margin: 1em 0;
}

.Section:first-child {
    margin-top: 0;
}

.Section:last-child {
    margin-bottom: 0;
}

/* Cards */

.CardRow {
    margin: 0.5em -0.5em;
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
}

.Card {
    box-sizing: border-box;
    display: inline-block;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
    margin: 0.5em;
    padding: 1em;
    border-radius: 0.25em;
    text-align: left;
}

.Card.Full {
    width: 100%;
    margin: 0.5em 0;
}

.Card :first-child {
    margin-top: 0.25em;
}

.Card :last-child {
    margin-bottom: 0.25em;
}

/* Columns */

.Columns {
    display: block;
    margin: 0 -1em;
}

.Column {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    padding: 0 1em;
}

.Half {
    width: 50%;
}

.Third {
    width: 33.3%;
}

.Column :first-child {
    margin-top: 0.25em;
}

.Column :last-child {
    margin-bottom: 0.25em;
}

/* Not Found Page */

.NotFoundPage {
    text-align: center;
}

/* Floating Buttons */

.FloatingButton {
    font-size: 1em;
    position: fixed;
    z-index: 2;
    margin: 1em;
    height: var(--icon-height);
}

.FloatingButton:hover {
    cursor: pointer;
}

.FloatingButton .IconBefore {
    font-size: var(--icon-height);
    margin: 0;
}

.FloatingButtonTooltip {
    display: none;
    height: var(--icon-height);
    vertical-align: middle;
    margin: 0 1em;
}

.FloatingButton:hover .FloatingButtonTooltip {
    display: inline-block;
}

.FloatingButton path {
    opacity: 0.35;
}

.FloatingButton:hover path {
    opacity: 1;
}

/* Specific Floating Buttons */

.MockLoginButton {
    --icon-height: 36px;
    bottom: 0;
    left: 0;
}

.BackToChatsButton {
    --icon-height: 36px;
    top: 0;
    left: 0;
}

.ChatAppMenuButton {
    --icon-height: 36px;
    top: 0;
    right: 0;
}
