/* Variables */

.ChatContainer {
    --send-width: 60px;
    --send-height: 4em;
    --chat-max-width: 500px;
    --chat-padding-top: 16em;
    --chat-padding-bottom: 8em;
}

/* Chat Page */

.ChatContainer {
    max-width: var(--chat-max-width);
    margin: 0 auto;
}

/* Chat App */

.ChatAppInner {
    height: 100vh;
    overflow-y: scroll;
}

.ChatHeader,
.ChatComposer {
    position: absolute;
    width: 100%;
    max-width: var(--chat-max-width);
}

.ChatHeader {
    top: 0;
    z-index: 1;
    padding: 1em 0;
    backdrop-filter: blur(5px);
}

.ChatComposer {
    bottom: 0;
}

.ChatMessages {
    padding: 1em;
    padding-top: var(--chat-padding-top);
    padding-bottom: var(--chat-padding-bottom);
}

/* Chat Header */

.ChatHeader {
    text-align: center;
}

/* Messages */

.Message {
    display: block;
    margin: 0.5em 0;
}

.Message.Mine {
    text-align: right;
}

.Message.Theirs {
    text-align: left;
}

.Message.Mine .MessageInner {
    border-bottom-right-radius: 0;
}

.Message.Theirs .MessageInner {
    border-top-left-radius: 0;
}

.MessageInner {
    display: inline-block;
    width: 75%;
    padding: 0.5em;
    border-radius: 0.7em;
    text-align: left;
}

.MessageInner p {
    margin: 0;
}

.Message .Author {
    font-size: 0.8em;
    margin-bottom: 0.2em;
    opacity: 0.75;
}

/* Composer */

.ChatComposer .Input,
.ChatComposer .Send {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    height: var(--send-height);
    min-height: var(--send-height);
    margin: 0;
    padding: 0.5em;
    font-size: 1em;
    border-radius: 0;
    border-width: 1px;
    border-style: solid;
}

.ChatComposer .Send {
    width: var(--send-width);
    margin-left: var(--send-margin);
    text-align: center;
}

.ChatComposer .Input {
    --input-width: calc(100% - var(--send-width));
    min-width: var(--input-width);
    max-width: var(--input-width);
}
