.selected {
    background-color: white;
    border-color: white;
    border-style: none;
    color: red;
    font-size: 50px;
}

.unselected {
    background-color: white;
    border-color: white;
    border-style: none;
    color: blue;
    font-size: 50px;
}

.hover {
    cursor: pointer;
}

.notHover {
    cursor: default;
}
