.paragraph {
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
        Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 5%;
}

.profile {
    border-radius: 100%;
    height: 15%;
    width: 15%;
}
